* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(19, 18, 18);
}

.tabulka {
   width: 1000px;
   max-width: 80%; 
   background-color: rgb(51, 50, 50);
   padding: 15px;
   border-radius: 10px;
   border: 1px solid black;
   box-shadow: black 0 0 15px 2px;
}

.tlacitka {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin-top: 30px
}

.tlacitko {
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2.5px 5px;
    color: whitesmoke;
}

.tlacitko:hover {
    background-color:rgb(51, 50, 50);
}

#text {
    color: whitesmoke;
}